.login-container {
    width: 3000px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content:center;
  }  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  form{
   margin-left:190%;
   margin-top: 30%;
   padding-left: 40%;
   width:100%;
   background-color: #22064d;
   padding:50px;
   border-radius:7px ;

  }