<h1>Movie Browser</h1><br>

<div class="home-container">
    <h1>Welcome to Movie Browser</h1>
    <p>Explore a vast collection of movies and find your favorites.</p>
</div>


<input type="text" [(ngModel)]="searchText" placeholder="Search movies..." class="search-bar"/>


<div *ngIf="searchText && (movies | movieFilter:searchText).length > 0; else noResults">
  <app-movie-item *ngFor="let movie of movies | movieFilter:searchText" [movie]="movie"></app-movie-item>
</div>


<ng-template #noResults>
  <p *ngIf="searchText">No matches found</p>
</ng-template>


<div class="home-container">
  <h2>User Reviews</h2>
  <app-review></app-review> 
</div>